body{
  background: url(../img/nota.jpg) fixed;
  font-family: 'Bree Serif', serif;
  color: #fff;
  width: 90%;
  margin: auto;
}
.header{
  background: rgba(61, 10, 8, 0.5);
  margin-top: 0px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: rgb(61, 10, 8)!important;
}
.btn-group > button > .btn,.btn-danger{
  background: none!important;
  border: none!important;
}
#logo{
  width: 40%;
  margin: auto;
  vertical-align: middle;
}
h1>a{
  color: #590507;
  text-shadow: 1px 2px 3px black;
}
h4, .color{
  color: #000;
}
i{
  color: #fff;
  font-size: 2em;
}
.icon{
  font-size: 20px;
}
a{
  color: #fff;
}
a:hover, a:focus {
  color: #87080B;
  text-decoration: none;
}
button>a:hover{
  color: #87080B;
  text-decoration: none;
  font-size: 30px;
}
.list>a:hover{
  display: block;
  background-color: #ccc;
  text-shadow: 1px 1px 1px #000;
  font-size: 18px;
}
a .material-icons, a:hover .material-icons, a:focus .material-icons {
  vertical-align: middle;
}
.article{
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 0px 30px 0px 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.input-group .input-group-addon {
  border: 0;
  background: transparent;
  padding: 12px 15px 0px;
  text-shadow: 1px 2px 2px #000;
  font-size: 30px;
}
.form-control{
  border: 0;
  border-radius: 10px;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  font-weight: 400;
}
.imagen{
  box-shadow: 3px 3px 3px 0px #000;
}
@media only screen and (max-width: 766px){
  .nav{
    display:  grid;
  }
}
@media only screen and (min-width: 766px){
  .btn-group{
    top: 30px;
  }
}
